{% extends "main/base.html" %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Event Calendar</h1>
        </div>
        <div class="row">
            <div class="col-sm-6 blog-main">
                {{ calendar|safe }}
            </div>
            <div class="col-sm-6 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">hoge</h2>
                    <p>description</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(document).on("click", "td.aday", function () {
                $(".selected").removeClass("selected");
                $(this).addClass("selected");
            });
            $(document).on("click", "th.cmonth", function () {
                location.href = "/?month=" + $(this).attr("id");
            });
        });
    </script>
{% endblock %}
