{% extends "main/base.html" %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Event Calendar</h1>
        </div>
        <div class="row">
            <div class="col-sm-6 blog-main">
                {{ calendar|safe }}
            </div>
            <div class="col-sm-6 blog-main" id="event-feed">
              <button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
            </div>
        </div>
    </div>
    <script>
      var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
          }
        }
      };
      function initEventList(){
        var d = $.Deferred();
        var feedURL = "/feed/events";
        if(getUrlParameter('month') != undefined){
          feedURL += '?month='+getUrlParameter('month')
        }
        $.ajax({url: feedURL,
        }).done(function(data){
          var feedHTML = "<h2>"+data.title+"</h2>";
          var feedTemplate = `
                <div class="blog-post">
                    <h3 class="blog-post-title">$title</h3>
                    <p>$date</p>
                    <p>$description</p>
                    <a type="button" class="btn btn-default" aria-label="Left Align" href="/event/update/$key">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true">Edit</span>
                    </a>
                </div>
                <hr/>
              `;
          var utcNow = moment.utc().format('YYYY-MM-DD');
          var eventByDay = {};
          var renderer = new marked.Renderer();
          renderer.heading = function (text, level) {
            return '<h' + (level+3) + '>'+text+'</h' + (level+3) + '>';
          };
          $.each(data.events, function(i, val){
            var localTime  = moment.utc(val.date).toDate();
            localTime = moment(localTime).format('YYYY-MM-DD HH:mm');
            var aDay = localTime.slice(0,10);
            var aDayFeedHTML = feedTemplate.replace('$title', val.title)
                .replace('$date', localTime)
                .replace('$description', marked(val.description,  { renderer: renderer }))
                .replace('$key', val.key);
            if((aDay >= utcNow)&&(i < 30)){
              feedHTML += aDayFeedHTML;
            }
            if(aDay in eventByDay){
              eventByDay[aDay].push(aDayFeedHTML);
            }else{
              eventByDay[aDay] = [aDayFeedHTML];
            }
          });
          $("#event-feed").html(feedHTML);
          drawBalloon(eventByDay);
          $(document).on("click", "td.aday", function () {
            $(".selected").removeClass("selected");
            $(this).addClass("selected");
            drawEventList(eventByDay, $(this).attr('id'));
          });
          d.resolve();
        }).fail(function(data){
          $("#event-feed").html("failed");
          d.reject();
        });
        return d.promise();
      }
      function drawEventList(eventByDay, aDay){
        console.log('selected!:'+aDay);
        var feedHTML = "<h2>"+aDay+"&nbsp;Events</h2>";
        if(aDay in eventByDay) {
          $.each(eventByDay[aDay], function(){
            feedHTML += this;
          });
          $("#event-feed").html(feedHTML);
        }else{
          $("#event-feed").html(feedHTML+'<div class="blog-post"><h3 class="blog-post-title">no events</h3></div>');
        }
      }
      function drawBalloon(eventByDay){
        $.each($("table tbody tr td"), function(){
          if($(this).attr('id') in eventByDay) {
            this.querySelector('span').setAttribute("class","badge");
            this.querySelector('span').innerText = eventByDay[$(this).attr('id')].length;
          }
        });
      }
      $(document).ready(function() {
          $(document).on("click", "th.cmonth", function () {
              location.href = "/?month=" + $(this).attr("id");
          });
          initEventList();
      });
    </script>
{% endblock %}
