{% extends "main/base.html" %}
{% block title %}Admin Page :{% endblock %}
{% block description %}{% endblock %}
{% block content %}
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Admin Page</h1>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>Editor Management</h3>
      </div>
      <div class="panel-body">
        <p>Add or Edit users</p>
        <a href="/admin/editor/list" class="btn btn-default"><span class="glyphicon glyphicon-edit">Edit</span></a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>Live Setting</h3>
      </div>
      <div class="panel-body">
        <p>now only "restriction_ip" can be enabled. set "restriction_ip" as setting id and set allowed ip address setting value. IP address is top match, set like "54.125.30."</p>
        <a href="/admin/livesetting/list" class="btn btn-default"><span class="glyphicon glyphicon-edit">Edit</span></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
